# Logs
*.log

# Mac/Windows system files
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production
.auth.json

# IDEs / Editors
/.idea
/.vscode
/.zed
/.fleet
.phpactor.json

# Node modules
/node_modules

# Build output
/public/build
/public/hot
/frontend/dist

# Storage and cache
/storage/*.key
/storage/pail
/.phpunit.cache
.phpunit.result.cache

# Vendor
/vendor

# Homestead
Homestead.json
Homestead.yaml